.container {
	display: grid;
	grid-template-columns: 0.2fr 2.3fr 0.5fr;
	grid-template-rows: 0.2fr 0.2fr 3.4fr 0.2fr;
	gap: 0px 0px;
	grid-template-areas:
    "menu header header"
    "menu subheader subheader"
    "menu content content"
    "menu footer footer";
	justify-content: stretch;
	justify-items: stretch;
	align-items: stretch;
	height: 100%;
	width: 100%;
	color: #8c8c8c;
}

.container.expanded {
	display: grid;
	grid-template-columns: 0.35fr 2.3fr 0.5fr;
	grid-template-rows: 0.2fr 0.2fr 3.4fr 0.2fr;
}

.header { grid-area: header;
	padding: 10px 16px;
	}

.subheader { grid-area: subheader; padding: 8px 16px;}

.content { grid-area: content; padding: 16px 24px; }

.sidebar { grid-area: sidebar;	padding: 10px 16px; }

.footer { grid-area: footer; padding: 16px 24px;}

.menu { grid-area: menu;}
